.welding-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
    height: 100vh;
    box-sizing: border-box;
}
#temp{
    font-size: 2em;
}